<a href="https://colab.research.google.com/github/abeatson/Apolitical-Tutorial/blob/master/Kuznets_rehashed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
%%css
<style>
    div.cell{
        width:100%;
        margin-left:1%;
        margin-right:auto;
    }
</style>

UsageError: Cell magic `%%css` not found.

In [3]:
import pandas as pd
import io
import numpy as np
# Import req'd libraries

from google.colab import files
uploaded = files.upload()
# Initialize the google document import widget.

Saving kuznets_data.csv to kuznets_data.csv

Transfrom file to a form readable by the pandas datframe.

In [24]:
df = pd.read_csv(io.StringIO(uploaded['kuznets_data.csv'].decode('utf-8')))           

print(df)
print(len(df.index))

                  Country  Total GHG Emissions  Total CO2   \
0             Afghanistan            19.558277      1.6598
1                 Albania             7.883510      4.1301
2                 Algeria           142.510170     96.2910
3                  Angola           106.124627     20.7232
4       Antigua & Barbuda             0.822867      0.4250
5               Argentina           319.787471    167.9118
6                 Armenia             7.158265      4.4514
7               Australia           592.515556    381.1014
8                 Austria            86.968662     74.8882
9              Azerbaijan            58.375908     35.1010
10           Bahamas, The             1.769708      1.5206
11                Bahrain            28.657944     24.5879
12             Bangladesh           129.782963     40.7328
13               Barbados             3.343607      1.3703
14                Belarus            94.736520     67.4804
15                Belgium           131.505330    114.4417
16                 Belize             8.164000      0.4324
17                  Benin             9.772900      3.9538
18                 Bhutan             0.997021      0.3920
19                Bolivia            36.782871     11.3460
20   Bosnia & Herzegovina            23.994362     17.8419
21               Botswana            12.689785      4.0200
22                 Brazil           840.587982    352.1808
23                 Brunei            18.710375      7.3309
24               Bulgaria            62.676571     49.6008
25           Burkina Faso            18.907014      1.3593
26                Burundi             2.076183      0.1869
27               Cambodia            22.945653      2.9500
28               Cameroon            82.697116      7.0490
29                 Canada           711.887280    551.2984
..                    ...                  ...         ...
158             Sri Lanka            33.650786     12.4588
159                 Sudan           137.821563     12.8089
160              Suriname             3.621770      2.4476
161             Swaziland             2.578443      1.0149
162                Sweden            62.016354     49.4893
163           Switzerland            53.782568     46.2715
164                 Syria            94.247977     60.8025
165            Tajikistan             7.634628      2.6792
166              Tanzania            58.857808      6.1715
167              Thailand           319.656322    232.5454
168                  Togo             4.928389      1.2994
169                 Tonga             0.303286      0.1282
170     Trinidad & Tobago            38.268008     37.1927
171               Tunisia            32.163491     24.8317
172                Turkey           346.156156    263.3448
173          Turkmenistan            88.264450     49.5540
174                Uganda            20.705736      2.6527
175               Ukraine           418.813753    317.1244
176  United Arab Emirates           154.085558    123.5274
177        United Kingdom           637.423428    543.2663
178         United States          6770.279909   5741.3823
179               Uruguay            34.107538      6.5178
180            Uzbekistan           217.901273    113.3396
181               Vanuatu             0.521014      0.0476
182             Venezuela           237.713233    156.3481
183               Vietnam           188.022699     99.8712
184                 World         39889.969250  29848.5048
185                 Yemen            27.431612     19.4328
186                Zambia            41.282840      2.2648
187              Zimbabwe            24.456947      9.7981

     Total CH4 (MtCO2e)  Total N2O (MtCO2e)  Total F-Gas (MtCO2e)  \
0               13.7283              4.0246                0.1455
1                2.5729              1.1642                0.0163
2               39.4431              5.2805                1.4955
3               69.7323             15.6048                0.0644
4                0.1650              0.0175                0.2153
5              103.6229             45.8576                2.3951
6                1.9652              0.5304                0.2113
7              124.4041             79.2378                7.7723
8                6.7036              4.0056                1.3712
9               20.2299              2.8513                0.1938
10               0.1971              0.0222                0.0299
11               3.7750              0.1354                0.1597
12              63.7389             25.0899                0.2213
13               1.9265              0.0270                0.0198
14              15.0365             12.0707                0.1490
15               7.4148              8.1572                1.4916
16               7.5429              0.1564                0.0324
17               3.3099              2.4852                0.0241
18               0.4835              0.1191                0.0024
19              17.6944              7.7138                0.0287
20               4.1799              1.7984                0.1741
21               4.4577              4.2083                0.0038
22             323.2026            158.3053                6.8993
23              11.2213              0.1043                0.0538
24               9.0958              3.5913                0.3886
25               9.3053              8.2270                0.0154
26               0.6151              1.2552                0.0191
27              15.4968              4.4358                0.0631
28              10.2304             65.3072                0.1105
29              99.6746             47.7442               13.1701
..                  ...                 ...                   ...
158             17.7519              3.2554                0.1847
159             77.4015             47.3322                0.2790
160              0.7900              0.3604                0.0237
161              1.1459              0.4116                0.0060
162              5.8359              5.3640                1.3272
163              4.2826              2.3905                0.8379
164             27.3203              5.3910                0.7342
165              2.9876              1.5496                0.4182
166             30.0470             22.5825                0.0567
167             66.1416             18.2961                2.6733
168              2.2221              1.3847                0.0222
169              0.1153              0.0586                0.0012
170              0.6336              0.2847                0.1570
171              4.3805              2.7263                0.2249
172             55.4889             25.3473                1.9752
173             35.0418              3.6299                0.0388
174              8.7729              9.2722                0.0078
175             80.2828             20.2404                1.1662
176             23.3656              5.9828                1.2097
177             54.5120             30.3878                9.2574
178            612.4353            266.9092              149.5532
179             19.0576              8.2299                0.3023
180             93.2534             10.9450                0.3632
181              0.3362              0.1339                0.0033
182             64.6330             12.8346                3.8975
183             66.9325             20.8277                0.3913
184           6670.2706           2758.1806              613.0132
185              4.5009              3.3526                0.1453
186             11.1563             27.8188                0.0429
187              8.7299              5.6051                0.3239

     GDP Per Capita    Population
0        280.245644  2.518362e+07
1       3005.012903  2.992547e+06
2       3467.544740  3.374933e+07
3       2825.073490  1.854147e+07
4               NaN           NaN
5       6639.909435  3.955875e+07
6       2126.618661  3.002161e+06
7      36084.858980  2.069790e+07
8      40430.993610  8.268641e+06
9       2473.085776  8.484550e+06
10     23721.156280  3.358010e+05
11     19669.319550  9.408080e+05
12       495.853780  1.448392e+08
13     15646.815010  2.750400e+05
14      3848.586203  9.604000e+06
15     38852.361030  1.054796e+07
16      4187.232890  2.907510e+05
17       609.018609           NaN
18      1346.085775  6.669200e+05
19      1233.592974  9.283345e+06
20              NaN           NaN
21      5342.140336  1.895671e+06
22      5809.189096  1.906982e+08
23              NaN           NaN
24              NaN           NaN
25              NaN           NaN
26              NaN           NaN
27       537.848583  1.352536e+07
28       965.368688  1.859711e+07
29     40243.552280  3.257050e+07
..              ...           ...
158             NaN           NaN
159      868.322775  3.280906e+07
160     5295.623648  4.959530e+05
161     2636.320016  1.118204e+06
162    46256.471600  9.080505e+06
163             NaN           NaN
164             NaN           NaN
165      407.252612  6.949566e+06
166      475.908765  4.026085e+07
167     3351.117633  6.617449e+07
168      384.288556  5.732175e+06
169     2837.075472  1.015070e+05
170             NaN           NaN
171     3394.428980  1.012790e+07
172     7727.272405  6.870472e+07
173     2140.455472  4.801594e+06
174      342.837264  2.900092e+07
175     2303.018831  4.678775e+07
176             NaN           NaN
177             NaN           NaN
178    46437.067120  2.983799e+08
179     5877.879608  3.331041e+06
180      642.960415  2.648825e+07
181     2047.088285  2.146350e+05
182             NaN           NaN
183      796.671574  8.331120e+07
184     7737.843620  6.595443e+09
185             NaN           NaN
186     1030.315360  1.238151e+07
187      414.680115  1.312794e+07

[188 rows x 8 columns]
188

In [17]:
df.dtypes

Country                  object
Total GHG Emissions     float64
Total CO2               float64
Total CH4 (MtCO2e)      float64
Total N2O (MtCO2e)      float64
Total F-Gas (MtCO2e)    float64
GDP Per Capita          float64
Population              float64
dtype: object

In [18]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

GDP Per Capita    34
Population        35
dtype: int64

In order to better work with the data, I am going to have to drop the null values because pandas does not play well weith them.

In [0]:
df.dropna()


len(df.index)

In [25]:
print(df.head(5))
print(df.tail(5))

             Country  Total GHG Emissions  Total CO2   Total CH4 (MtCO2e)  \
0        Afghanistan            19.558277      1.6598             13.7283
1            Albania             7.883510      4.1301              2.5729
2            Algeria           142.510170     96.2910             39.4431
3             Angola           106.124627     20.7232             69.7323
4  Antigua & Barbuda             0.822867      0.4250              0.1650

   Total N2O (MtCO2e)  Total F-Gas (MtCO2e)  GDP Per Capita  Population
0              4.0246                0.1455      280.245644  25183615.0
1              1.1642                0.0163     3005.012903   2992547.0
2              5.2805                1.4955     3467.544740  33749328.0
3             15.6048                0.0644     2825.073490  18541467.0
4              0.0175                0.2153             NaN         NaN
      Country  Total GHG Emissions  Total CO2   Total CH4 (MtCO2e)  \
183   Vietnam           188.022699     99.8712             66.9325
184     World         39889.969250  29848.5048           6670.2706
185     Yemen            27.431612     19.4328              4.5009
186    Zambia            41.282840      2.2648             11.1563
187  Zimbabwe            24.456947      9.7981              8.7299

     Total N2O (MtCO2e)  Total F-Gas (MtCO2e)  GDP Per Capita    Population
183             20.8277                0.3913      796.671574  8.331120e+07
184           2758.1806              613.0132     7737.843620  6.595443e+09
185              3.3526                0.1453             NaN           NaN
186             27.8188                0.0429     1030.315360  1.238151e+07
187              5.6051                0.3239      414.680115  1.312794e+07